<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <ul class="app-menu">
          <!-- //active -->
        <li><a class="app-menu__item " href="/dashboard"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Продукты</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a class="treeview-item" href="/products/list/1"><i class="icon fa fa-circle-o"></i> Список продуктов</a>
                </li>
                <li>
                    <a class="treeview-item" href="/products/new"><i class="icon fa fa-circle-o"></i> Добавить новый продукт</a>
                </li>
            </ul>
            </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Клиенты</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a class="treeview-item" href="/clients/list/1"><i class="icon fa fa-circle-o"></i> Список клиентов</a>
                </li>
                <li>
                    <a class="treeview-item" href="/clients/new"><i class="icon fa fa-circle-o"></i> Добавить новый клиент</a>
                </li>
            </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Кредиты</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a class="treeview-item" href="/credits/list/1"><i class="icon fa fa-circle-o"></i> Список кредитов</a>
                </li>
                <li>
                    <a class="treeview-item" href="/credits/new"><i class="icon fa fa-circle-o"></i> Добавить новый кредит</a>
                </li>
            </ul>
        </li>
      </ul>
</aside>